<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List</title>

    <link rel="stylesheet" href="./style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <main>
      <div class="new-list">
        <section>
          <form action="/" method="POST">
            <label for="list">Nova Lista:</label>
            <input
              type="text"
              id="list"
              name="list"
              placeholder="Digite o nome da lista"
            />
            <button class="btn-list" type="submit">Adicionar</button>
          </form>
        </section>
      </div>

      <div>
        {% for list in lists%}
        <section>
          <header>
            <strong
              >{{list.name_list}}<a href="/delete/{{list.id_list}}"
                ><i class="fa" title="Excluir item da lista">&#xf014;</i></a
              ></strong
            >
            <p>Escreva os itens!</p>
          </header>

          <form
            action="/{{list.id_list}}"
            method="POST"
            onsubmit=" return checkField(event)"
          >
            <label for="item">Item:</label>
            <input
              type="text"
              id="item"
              name="item"
              placeholder="Digite um item"
            />

            <button type="submit">Adicionar</button>
          </form>

          <div class="list-container">
            <strong>Itens já cadastrados:</strong>

            <ul id="list">
              {% for item in items%} {% if item.id_list == list.id_list%}

              <form
                action="/status/{{item.id_item}}"
                method="post"
                class="form-item"
              >
                <li class="list-item">
                  <span>
                    <input
                      onchange="this.form.submit()"
                      type="checkbox"
                      name="checkbox"
                      id="checkbox"
                      value="{{item.done}}"
                      {{item.done}}
                    />{{item.name_item}}
                  </span>

                  <a href="/{{item.id_item}}"
                    ><i class="fa" title="Excluir item da lista">&#xf014;</i></a
                  >
                </li>
              </form>

              {%endif%} {%endfor%}
            </ul>
          </div>
        </section>
      </div>
      {%endfor%}
    </main>

    <script src="./scripts.js"></script>
  </body>
</html>
